.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct_info{
    padding-left: 20px;
}

.checkoutProduct_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31;
    color: #111;
}

.checkoutProduct > img {
    width: 180px;
    height: 180px;
    object-fit: contain;

}

.checkoutProduct_rating{
    display: flex;
}

.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}